<div class="container-fluid" style="background-color: #f2f3f9

" ng-controller="View2Ctrl">
	<!--<h1>Make your {{pageName}} page here.</h1>
	<ul class="display-menu">
	    <li><a href="#!/view1">view1</a></li>
	    <li><a href="#!/view2">view2</a></li>
	</ul>
-->
	<nav class="myHead">
			<p class="myPara">
				Review your blog!
			</p>
		
	</nav>

	<div class="container">
	<div class="row heading" style="background-color: #bac7d4">
		<div class="col-md-12" style="margin:20px">
			<form>
			<input type="textbox" class="form-control" placeholder="Title for Blog" name="" ng-model="myTitle">
			<br>
			<textarea class="form-control" placeholder="It's a Blog sherlock!" name="" ng-model="myBlog"></textarea>
			<br>
			<center><button class="mybutton2" ng-click="addThis();">Submit</button></center>
		</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6" ng-repeat="x in blogArray">
			<table>
				<tr>
					<th>{{x.title}}</th>
					<th rowspan="2" class="myClose">
						<button class="myCloseButton" ng-click="removeIt(x.presentCount);">X</button>
					</th>
				</tr>
				<tr>
					<td>{{x.blog}}</td>
				</tr>
			</table>
		</div>
	</div>
	</div>
	<hr>
	<center>
	<a class="mybutton2" ng-click="submit();">Go back to page 1</a>
	</center>
</div>