<div class="container" ng-controller="View2Ctrl">
	<!--<h1>Make your {{pageName}} page here.</h1>
	<ul class="display-menu">
	    <li><a href="#!/view1">view1</a></li>
	    <li><a href="#!/view2">view2</a></li>
	</ul>
-->
	<div class="row">
		<div class="col-md-12">
			<form>
			<input type="textbox" class="form-control" placeholder="add ur title" name="" ng-model="myTitle">
			<br>
			<textarea class="form-control" placeholder="It's a blog sherlock!" name="" ng-model="myBlog"></textarea>
			<br>
			<center><button class="mybutton2" ng-click="addThis();">Submit</button></center>
		</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class="panel-group">
				<div class="panel panel-default" ng-repeat="x in blogArray">
					<div class="panel-heading">
						{{x.title}}
					</div>
					<div class="panel-body">
						{{x.blog}}
					</div>
				</div>
			</div>
		</div>
	</div>
	

	
	<a class="btn btn-primary" ng-click="submit();">Go back to page 1</a>

</div>