/* app css stylesheet */

.display-menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.display-menu:before {
  content: "[";
}

.display-menu:after {
  content: "]";
}

.display-menu > li {
  display: inline;
}

.display-menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.mytextbox {
	border:none;
	border-bottom:1px solid grey;
	width:70%;
	outline:none;
	padding: 5px 5px 5px 5px;
	margin: 10px;
	transition: width 0.4s ease-in-out;
}

.mytextbox:focus{
	width:100%;
}

.mybutton2 {
	background-color:grey;
	color:white;
	border:none;
	font-size:15px;
	padding:10px 30px;
	transition-duration: 0.5s;
	display:inline-block;
}

.mybutton2:hover {
	background-color:white;
	color:black;
}

.heading {
	margin-top: 0px;
}

table {
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 5px 9px 1px rgba(0, 0, 0, 0.2), 1px 7px 21px 1px rgba(0, 0, 0, 0.19);

}

table:hover {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th {
	text-align: center;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:40px;
;
}

td {
	background-color:  #cce6ff;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.myPara {
	color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.myHead {
	position: relative;
	background-color:  #68737e;
	width:100%;
}

.myClose {
	background-color:  #ffb3b3;
	width: 60px;
}

.myCloseButton {
	background-color: transparent;
	color:white;
	border:none;
	padding: 0;
}