
.mytextbox {
	border:none;
	border-radius:10px;
	width:95%;
	outline:none;
	padding: 5px 5px 5px 5px;
	margin: 10px;
	font-size: 20px;
}


.heading {
	margin-top: 0px;
}

.myTable {
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
	transition-duration: 0.4s;

}

.myTable:hover {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transform: translateY(5px);
	transition-duration: 0.4s;
}

.myTh {
	text-align: center;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size:40px;
}

.myTd {
	background-color:  #8c7171;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	color:white;
}



.myClose {
	background-color: #ba1414;
	width: 60px;
}



.myCloseButton {
	background-color: transparent;
	color:white;
	border:none;
	padding: 0;
}

.myImg {
	
}


.myPara {
	color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}



.myHead {
	position: relative;
	background-color:  black;
	width:100%;
}


.myBox {
	background-color:rgb(77, 38, 0);
	border-radius: 10px;
	padding: 10px;
}

.myBoxAni {
	transition-duration: 0.4s;
}

.myBoxAni :hover {
	transform: translateY(5px);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition-duration: 0.4s;
}

.myBoxOut {
	background-color: #b79f9f;
	border-radius: 10px;
	padding-left: 29px;
    padding-right: 29px;
    padding-top: 18px;
    padding-bottom: 18px;
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
	transition-duration: 0.4s;
}

.myBoxOut :hover {
	transform: initial;
}

.myLux {
	font-family: "lucida handwriting";
	font-size:50px;
	border-radius: 4px;
	color: white;
	margin-top: 40px;
}

.myLux2 {
	font-family: "lucida handwriting";
	font-size:50px;
	border-radius: 4px;
	color: white;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
}

.mybutton2 {
	background-color: rgb(77, 38, 0);
	color:white;
	border:none;
	border-radius: 10px;
	font-size:20px;
	padding:10px 30px;
	transition-duration: 0.5s;
	display:inline-block;
}

.mybutton2:hover {
	background-color:white;
	color:black;
}

.mybutton2:active {
	transform: translateY(2px);
}

.mybutton2:focus {
	outline:none;
}

.mybutton2 : {

}

.blogEdit {
	text-align: center;
	font-size: 25px;
}

