<div class="container-fluid" ng-controller="View1Ctrl">
	<div class="row" style=" margin-top: 150px;">
		<div class="col-md-12">
			<center>
				<p class="myLux">
					A Blog is a notebook on the web!
				</p>
			</center>
		</div>
	</div>

	<div class="row" style="margin-top: 10px">
		<div class="hidden-sm col-md-4">	
		</div>
		<div class="col-md-4 my myBoxOut">
			<div class="myBox">
				<p style="color:red" ng-hide="wrongIp">Wrong credentials</p>
				<form>
					<input type="textfield" class="mytextbox" name="username" placeholder="Email" ng-model="formModel.emailInput">
					<br>
					<input type="password" class="mytextbox" name="password" placeholder="Password" ng-model="formModel.passwordInput">	<br>
				</form>
			</div>
			<br>
			<center>
				<a class="mybutton2" ng-click="submit();">Submit</a>
			</center>
		</div>

		<div class="hidden-sm col-md-4">	
		</div>	
	</div>
</div>